{# @title Сообщения (ошибки авторизации и прочее) #}
{% extends '@themelayouts/auth.twig' %}
{% block content %}
    <div class="auth-panel" id="auth">
        <form method="post" action="{{ url('/backend/default/auth') }}">
            <div class="h1">{{ title }}</div>

            {{ message }}

            <div class="button-row">
                <div class="left">
                    <a href="{{ url('/backend/default/index') }}" class="changeState">Войти в панель управления</a>
                </div>
                <div class="right">
                    <input type="image" src="{{ urlTo('@theme/images/authPage/auth-login-button.png') }}">
                </div>
            </div>
            <br class="clear">
        </form>
        <div class="copy">
            <a href="http://index-art.ru" target="_blank"></a>
        </div>
    </div>
{% endblock %}