<b>Здравствуйте, {{ name }}.</b><br/>
<br/>
Вы создали запрос на востановление доступа к панели управления сайтом {{ server }}.<br/>
Если Вы не создавали такой запрос, просто проигнорируйте это письмо, если Вы действительно потеряли доступ к
управлению этим сайтом и желаете его восстановить, перейдите по ссылке - <a href="{{ url('/backend/default/do-restore', {'code': code, 'email': email}) }}">{{ url('/backend/default/do-restore', {'code': code, 'email': email}) }}</a>.<br/>
Ссылка будет действительна до {{ codeExpires|date('d.m.Y H:i:s') }}.<br/><br/>

------------------------<br/>
С уважением Ваш index.next